/* IMPOSTAZIONI GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid grey; */
}

body {
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #DADBD3;
}

header,main{
    position: absolute;
}

/* classi con proprietà generiche da riutilizzare */
.centraQualcosaClass{
  align-items: center;
  display: flex;
  justify-content: center;
}

.totalWidthHeightClass{
  width: 100%;
  height:100%;
  margin: auto;
}

.margineDxClass{
  margin-right: 20px;
}

.boxWhiteClass{
  background: white;
  height: 75px;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.boxGreyClass{
  background: #EAEAEA;
  height: 75px;
  display: flex;
}

.box-msg{
  height: 52px;
  background: white;
  padding: 0px 15px;
  margin: 10px 0px 10px 0px;
}

.colorecelesteclass{
  color: #8EDAFB;
}

.colorgreenclass{
  background: #D5F9BA;
}

.bordernullclass{
  border: none #F5F5F5;
}

.listUser{
  justify-content: flex-start;
}

.rightAllignClass{
  display: flex;
  justify-content: flex-end;
}

.leftAllignClass{
  display: flex;
  justify-content: flex-start;
}

.normalText{
  color:rgb(0, 0, 0);
  display:block;
  font-family:Lato, sans-serif;
  font-size:15px;
}

i {
  color: grey;
  opacity: 0.7;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 15px;
}

h4,p{
  font-weight: 400;
}

p{
  font-size: 13px;
  color: grey;
}

input,.box-msg{
  border-radius: 10px;
}

header{
  background: #009688;
  height: 15vh;
  width: 100vw;
  z-index: 2;
}

main{
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: 1;
}

/* BLOCCO CENTRALE APPLICAZIONE */
section{
  position: relative;
  display: flex;
  width: 81vw;
  height: 95vh;
  z-index: 3;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* PARTE SINISTRA (NOMI UTENTE + RICERCA CHAT) */
.partesx{
  width: 35%;
}

/* header parte sinistra */
.box-photo-user{
  width: 30%;
}

.bottoni-user-msg{
  width: 100%;
  justify-content: flex-end;
}
/* fine header */

/* box con notifica messaggio utente */
.notify-msg{
  background: #8EDAFB;
  height: 75px;
  justify-content: space-evenly;
}

.ringthebell{
  background: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.box-search{
  height: 52px;
  background: #FAFAFA;
  }

.searchmsg{
  height: 86%;
  width: 97%;
  margin: 4px auto;
  justify-content: flex-start;
}

.serchmsg-behind{
  width: 15%;
  height: 100%;
  background: white;
}

.container{
  height: calc(100% - 75px - 75px - 56px);
  overflow-y: scroll;
}

/* PARTE DESTRA PER INVIARE/LEGGERE MESSAGGI RICEVUTI */
.partedx{
  width: calc(100% - 35%) ;
}

.header-partedx{
  display:flex;
  background: #EAEAEA;
  height: 75px;
}

.box-photo-user-actual{
  width: 100%;
  justify-content: flex-start;
}

.main-partedx{
  height: calc(100% - 75px - 75px);
  overflow-y: scroll;
  padding: 50px 60px;
  background: url(https://4d3dn.csb.app/boolzapp/img/mine.jpg);
}

.beigeColourClass{
background: #F3EEE9;
}
